{% extends "base.html" %}
{% block content %}
<h1>Configuration</h1>
<form method="post">
	<fieldset>
		<legend>Wifi audit settings</legend>
		<fieldset>
			<legend>Interface</legend>
			<label for="avaiable_interfaces">Available Interfaces:</label>
			<dl>
				{% for iface in wifi_interfaces %}
				<dt>{{ iface['interface'] }}</dt>
				<dd>- {{ iface['name'] }}</dd>
				<dd>- {{ iface['mac-address'] }}</dd>
				{% endfor %}
			</dl>
			<label for="interface_monitoring">Monitoring:</label>
			<select id="interface_monitoring" name="interface_monitoring">
				{% for iface in wifi_interfaces %}
				{% if not iface['interface'] == "wlan0" %}
				<option title="{{ iface['name'] }} - {{ iface['mac-address'] }}" value="{{ iface['interface'] }}" {% if
					config['interface']['monitoring']==iface['interface'] %}selected{% endif %}>
					{{ iface['interface'] }}
				</option>
				{% endif %}
				{% endfor %}
			</select>

			<label for="interface_scanning">Scanning:</label>
			<select id="interface_scanning" name="interface_scanning">
				{% for iface in wifi_interfaces %}
				<option title="{{ iface['name'] }} - {{ iface['mac-address'] }}" value="{{ iface['interface'] }}" {% if
					config['interface']['scanning']==iface['interface'] %}selected{% endif %}>
					{{ iface['interface'] }}
				</option>
				{% endfor %}
			</select>
		</fieldset>

		<fieldset>
			<legend>Logger</legend>
			<label for="logger_name">Logger Name:</label>
			<input type="text" id="logger_name" name="logger_name" value="{{ config['logger']['name'] }}">
			<label for="logger_file">Logger File:</label>
			<input type="text" id="logger_file" name="logger_file" value="{{ config['logger']['file'] }}">

			<label for="logger_console_level">Console Level:</label>
			<select id="logger_console_level" name="logger_console_level">
				<option value="DEBUG" {% if config['logger']['console_level']=='DEBUG' %}selected{% endif %}>DEBUG
				</option>
				<option value="INFO" {% if config['logger']['console_level']=='INFO' %}selected{% endif %}>INFO</option>
				<option value="WARNING" {% if config['logger']['console_level']=='WARNING' %}selected{% endif %}>WARNING
				</option>
				<option value="ERROR" {% if config['logger']['console_level']=='ERROR' %}selected{% endif %}>ERROR
				</option>
				<option value="CRITICAL" {% if config['logger']['console_level']=='CRITICAL' %}selected{% endif %}>
					CRITICAL
				</option>
			</select>

			<label for="logger_file_level">File Level:</label>
			<select id="logger_file_level" name="logger_file_level">
				<option value="DEBUG" {% if config['logger']['file_level']=='DEBUG' %}selected{% endif %}>DEBUG</option>
				<option value="INFO" {% if config['logger']['file_level']=='INFO' %}selected{% endif %}>INFO</option>
				<option value="WARNING" {% if config['logger']['file_level']=='WARNING' %}selected{% endif %}>WARNING
				</option>
				<option value="ERROR" {% if config['logger']['file_level']=='ERROR' %}selected{% endif %}>ERROR</option>
				<option value="CRITICAL" {% if config['logger']['file_level']=='CRITICAL' %}selected{% endif %}>CRITICAL
				</option>
			</select>
		</fieldset>

		<fieldset>
			<legend>Kismet</legend>
			<label for="kismet_file">Kismet Folder:</label>
			<input type="text" id="kismet_file" name="kismet_file" value="{{ config['kismet']['file'] }}">
		</fieldset>

		<fieldset>
			<legend>General Settings</legend>
			<label for="scan_type">Scan Type:</label>
			<input type="number" id="scan_type" name="scan_type" value="{{ config['scan_type'] }}">
			<label for="recheck">Recheck (seconds):</label>
			<input type="number" id="recheck" name="recheck" value="{{ config['recheck'] }}">
			<label for="main_sleep">Main Sleep (seconds):</label>
			<input type="number" id="main_sleep" name="main_sleep" value="{{ config['main_sleep'] }}">
			<label for="max_ap_distance">Max AP Distance:</label>
			<input type="number" id="max_ap_distance" name="max_ap_distance" value="{{ config['max_ap_distance'] }}">
			<label for="errors_threshold">Errors Threshold:</label>
			<input type="number" id="errors_threshold" name="errors_threshold" value="{{ config['errors_threshold'] }}">
		</fieldset>
	</fieldset>
	<fieldset>
		<legend>Web settings</legend>
		<label for="enable_terminal">Enable terminal: <input type="checkbox" id="enable_terminal" name="enable_terminal" {% if config['enable_terminal'] %}checked{% endif %}></label>
	</fieldset>

	<button type="submit">Save Configuration</button>
</form>

<script>
	// Prevent submission if the same interface is selected for both monitoring and scanning.
	document.querySelector("form").addEventListener("submit", function (e) {
		var monitoring = document.getElementById("interface_monitoring").value;
		var scanning = document.getElementById("interface_scanning").value;
		if (monitoring === scanning) {
			alert("Monitoring and Scanning interfaces must be different.");
			e.preventDefault();
		}
	});
</script>
{% endblock %}