<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>WiFi Audit Tool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='wifi.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body onload="delete_flashes()">
	<div class="container">
		{% if logged_in_user %}
		<div class="user-info" style="margin-bottom:10px;">
			Logged in: {{ logged_in_user }} / 
			<a href="{{ url_for('logout') }}">Logout</a> |
			<a id="kismet-link" target="_blank" href="#">Kismet WEB</a> |
			<a href="{{ url_for('clear_kismet') }}">Clear kismet folder</a> |
            <a href="{{ url_for('clear_reports') }}">Clear reports folder</a> |
            <a href="{{ url_for('self_restart') }}">Restart APP</a> |
			<a href="{{ url_for('system_restart') }}">Restart system</a> |
			<a href="{{ url_for('system_shutdown') }}">Shutdown system</a>
		</div>
		<hr>
		<nav>
			<a href="{{ url_for('home') }}">Home</a> |
			<a href="{{ url_for('config') }}">Config</a> |
			<a href="{{ url_for('audit.audit') }}">Audit</a> |
			<a href="{{ url_for('cracking.cracking') }}">Cracking</a> |
			<a href="{{ url_for('report.report') }}">Report</a> |
			<a href="{{ url_for('log') }}">Logs</a> |
			<a href="/terminal">Terminal</a>
		</nav>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				let kismetLink = document.getElementById("kismet-link");
				let currentDomain = window.location.origin;
				let domain = currentDomain.split("://")[1];
				kismetLink.href = "{{ url_for('kismet') }}?next=" + domain;
			});
		</script>
		<hr>
		{% endif %}
		{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
		<ul class="flashes">
			{% for category, message in messages %}
			<li id="flash" class="{{ category }}">{{ message }}
				<span style="float: right; cursor: pointer;" onclick="delete_flash(this);">x</span>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</div>
	<script lang="javascript">
		function delete_flash(e) {
			e.parentElement.remove();
		}
		function delete_flashes() {
			var flashes = document.querySelectorAll('#flash');
			setTimeout(function () {
				flashes.forEach(function (flash) {
					flash.style.transition = "opacity 2s ease-out";
					flash.style.opacity = 0;
					setTimeout(function () {
						flash.remove();
					}, 2000); // 2 seconds for the transition
				});
			}, 4000); // 4 seconds after the page loads
		}
	</script>
</body>