{% extends "base.html" %}
{% block content %}
<h1>Configuration</h1>

<form method="post">
	<fieldset>
		<legend>Wifi audit settings</legend>

		<fieldset>
			<legend>Interface</legend>
			<label for="avaiable_interfaces">Available Interfaces:</label>
			<dl>
				{% for iface in wifi_interfaces %}
				<dt>{{ iface['interface'] }}:</dt>
				<dd>- {{ iface['name'] }}</dd>
				<dd>- {{ iface['mac-address'] }}</dd>
				{% endfor %}
			</dl>

			<label for="interface_monitoring">Monitoring:</label>
			<select id="interface_monitoring" name="interface_monitoring">
                <option title="None" value="None" {% if config['interface']['cracking']=='None' %}selected{% endif %}>
					None
				</option>
				{% for iface in wifi_interfaces %}
				{% if not iface['interface'] == "wlan0" %}
				<option title="{{ iface['name'] }} - {{ iface['mac-address'] }}" value="{{ iface['interface'] }}" {% if
					config['interface']['monitoring']==iface['interface'] %}selected{% endif %}>
					{{ iface['interface'] }}
				</option>
				{% endif %}
				{% endfor %}
			</select>

			<label for="interface_cracking">Cracking:</label>
			<select id="interface_cracking" name="interface_cracking">
				<option title="None" value="None" {% if config['interface']['cracking']=='None' %}selected{% endif %}>
					None
				</option>
				{% for iface in wifi_interfaces %}
				<option title="{{ iface['name'] }} - {{ iface['mac-address'] }}" value="{{ iface['interface'] }}" {% if
					config['interface']['cracking']==iface['interface'] %}selected{% endif %}>
					{{ iface['interface'] }}
				</option>
				{% endfor %}
			</select>
		</fieldset>

		<fieldset>
			<label for="logger_console_level">Console Level:</label>
			<select id="logger_console_level" name="logger_console_level">
				<option value="DEBUG" {% if config['logger']['console_level']=='DEBUG' %}selected{% endif %}>DEBUG
				</option>
				<option value="INFO" {% if config['logger']['console_level']=='INFO' %}selected{% endif %}>INFO</option>
				<option value="WARNING" {% if config['logger']['console_level']=='WARNING' %}selected{% endif %}>WARNING
				</option>
				<option value="ERROR" {% if config['logger']['console_level']=='ERROR' %}selected{% endif %}>ERROR
				</option>
				<option value="CRITICAL" {% if config['logger']['console_level']=='CRITICAL' %}selected{% endif %}>
					CRITICAL</option>
			</select>

			<label for="logger_file_level">File Level:</label>
			<select id="logger_file_level" name="logger_file_level">
				<option value="DEBUG" {% if config['logger']['file_level']=='DEBUG' %}selected{% endif %}>DEBUG</option>
				<option value="INFO" {% if config['logger']['file_level']=='INFO' %}selected{% endif %}>INFO</option>
				<option value="WARNING" {% if config['logger']['file_level']=='WARNING' %}selected{% endif %}>WARNING
				</option>
				<option value="ERROR" {% if config['logger']['file_level']=='ERROR' %}selected{% endif %}>ERROR</option>
				<option value="CRITICAL" {% if config['logger']['file_level']=='CRITICAL' %}selected{% endif %}>CRITICAL
				</option>
			</select>
		</fieldset>

		<fieldset>
			<legend>General Settings</legend>
			<label for="scan_type">Scan Type:</label>
			<input type="number" id="scan_type" name="scan_type" value="{{ config['scan_type'] }}">
			<label for="main_sleep">Main Sleep (seconds):</label>
			<input type="number" id="main_sleep" name="main_sleep" value="{{ config['main_sleep'] }}">
		</fieldset>
	</fieldset>

	<fieldset>
		<legend>Web settings</legend>
		<label for="enable_terminal">
			Enable terminal:
			<input type="checkbox" id="enable_terminal" name="enable_terminal" {% if config['enable_terminal']
				%}checked{% endif %}>
		</label>
	</fieldset>
	<fieldset>
		<legend>List settings</legend>
		<fieldset>
			<legend>whiteList.txt - 1</legend>
			<textarea name="white_list" rows="8" style="width: 100%;">{{ white_list | e }}</textarea>
		</fieldset>

		<fieldset>
			<legend>blackList.txt - 2</legend>
			<textarea name="black_list" rows="8" style="width: 100%;">{{ black_list | e }}</textarea>
		</fieldset>

		<fieldset>
			<legend>whiteBlackList.txt - 3</legend>
			<textarea name="white_black_list" rows="8" style="width: 100%;">{{ white_black_list | e }}</textarea>
		</fieldset>
	</fieldset>
    
    <fieldset>
        <legend>Custom password list</legend>
        <textarea name="custom_password_list" rows="8" style="width: 100%;">{{ custom_password_list | e }}</textarea>
    </fieldset>

	<button type="submit">Save Configuration</button>
</form>

<script>
	document.querySelector("form").addEventListener("submit", function (e) {
		var monitoring = document.getElementById("interface_monitoring").value;
		var cracking = document.getElementById("interface_cracking").value;
		if (monitoring === cracking && cracking !== "None") {
			alert("Monitoring and Cracking interfaces must be different or set Cracking to 'None'.");
			e.preventDefault();
		}
	});
</script>
{% endblock %}