{% extends "base.html" %}
{% block content %}
<h2>Confirm App Restart</h2>
<form method="post" action="{{ url_for('self_restart') }}">
	<p>Are you sure you want to restart the app service?</p>
	<button type="button" id="yes-btn" name="confirmation" value="yes">Yes</button>
	<button type="submit" name="confirmation" value="no">No</button>
</form>
<script>
	document.getElementById("yes-btn").addEventListener("click", function(event) {
		event.preventDefault();
		fetch("{{ url_for('self_restart') }}", {
			method: "POST",
			headers: { "Content-Type": "application/x-www-form-urlencoded" },
			body: "confirmation=yes"
		})
		.then(function(response) {
            // after 2 seconds redirect to home page
            alert("Restarting app... Please wait.");
            setTimeout(function() {
			    window.location.href = "{{ url_for('home') }}";
            }, 2000);
		})
		.catch(function(error) {
			console.error("Error:", error);
		});
	});
</script>
{% endblock %}
