{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
<form method="post" action="{{ url_for('login') }}">
    <input type="hidden" name="next" value="{{ request.args.get('next') }}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="" required>
    
    <label for="remember">
        <input type="checkbox" id="remember" name="remember"> Remember Me
    </label>
    
    <button type="submit">Login</button>
</form>
{% endblock %}