{% extends "base.html" %}
{% block content %}

<div style="display: flex; align-items: center; justify-content: space-evenly;">
	<h1>Create Report</h1>
    <a href="{{ url_for('report.report_help') }}" target="_blank">Help on Report</a>
</div>
{% if step == 1 %}
{% if db_files %}
<form method="get" action="{{ url_for('report.report') }}">
	<label for="db_file">Select Database:</label>
	<select id="db_file" name="db_file">
		{% for db in db_files %}
		<option value="{{ db }}">{{ db }}</option>
		{% endfor %}
	</select>
	<button type="submit">Next</button>
</form>
{% else %}
<p>No databases available. Please run audit first.</p>
{% endif %}
{% elif step == 2 and selected_db %}
<form method="post" action="{{ url_for('report.create_report') }}" target="_blank">
	<input type="hidden" name="db_file" value="{{ selected_db }}">
	<label for="report_type">Select Report Type:</label>
	<select id="report_type" name="report_type">
		<option value="one">One Wi-Fi AP per page</option>
		<option value="separate">All Wi-Fi AP per page</option>
		<option value="combined">Wi-Fi AP per page on one map</option>
        <option value="csv">CSV</option>
	</select>
	<div id="device_selector">
		<label for="device_id">Select Device:</label>
		<select id="device_id" name="device_id">
			{% for device in devices %}
			<option value="{{ device[0] }}">{{ device[1] }} - {{ device[2] }}</option>
			{% endfor %}
		</select>
	</div>
	<button type="submit">Create Report</button>
</form>
<script>
	// Hide device selector if "multiple" is chosen.
	document.getElementById('report_type').addEventListener('change', function () {
		if (this.value === 'separate' || this.value === 'combined' || this.value === 'csv') {
			document.getElementById('device_selector').style.display = 'none';
		} else {
			document.getElementById('device_selector').style.display = 'block';
		}
	});
	// Trigger change event on load.
	document.getElementById('report_type').dispatchEvent(new Event('change'));
</script>
{% endif %}

<h2>Existing Reports</h2>
<ul>
	{% if reports %}
	{% for report in reports %}
	<li><a href="{{ url_for('report.get_report', filename=report) }}" target="_blank">{{ report }}</a></li>
	{% endfor %}
	{% else %}
	<li>No reports generated yet.</li>
	{% endif %}
</ul>
{% endblock %}