<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CSV Display</title>
    <style>
        pre {
            border: 1px solid #ccc;
            padding: 10px;
            max-height: 70vh;
            overflow: auto;
            background: #f9f9f9;
        }

        button {
            margin-top: 10px;
            padding: 10px 15px;
            font-size: 1em;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <button id="downloadBtn">Download CSV</button>
    <pre id="csvDisplay">{{ csv_content }}</pre>
    <script>
        const csvContent = {{ csv_content | tojson }}
        var downloadFilename = "{{ file_name }}";
        // replace.html to .csv
        downloadFilename = downloadFilename.replace(/\.html$/, '.csv');
        const csvBlob = new Blob([csvContent], { type: 'text/csv' });
        const csvUrl = URL.createObjectURL(csvBlob);
        document.getElementById("downloadBtn").addEventListener("click", function () {
            const a = document.createElement("a");
            a.href = csvUrl;
            a.download = downloadFilename;
            // This will be the downloaded file name.
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    </script>
</body>

</html>